figure {
  font-size: 6px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  font-style: oblique;
}

figcaption {
  font-size: 6px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  font-style: oblique;
}
